{% extends 'registration/base.html' %}

{% block content %}

<div id="password-request-done" class="container">
	<div class="d-flex flex-column">
		<h2 id="success-email-title">Correo de Recuperación Enviado</h2>
		<div class="SEmail-container">
			<p id="success-email" class="m-auto p-2">
				Le hemos enviado instrucciones por correo electrónico para establecer su contraseña, si existe una cuenta con el correo electrónico que ingresó. 
				Deberías recibirlos en breve.
			</p>
			<p id="success-email" class="m-auto p-2">
				Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
			</p>
		</div>
		<p id="SEback-button" class="m-auto p-2"><a class="button" href="{% url 'login' %}">Iniciar sesión</a></p>
	</div>
</div>

{% endblock %}