{% extends 'registration/base.html' %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            <h2 id="CPMain-title" class="mb-3 text-blue text-center">Cambio de contraseña</h2>
            <h4 id="changepw-subtitle">Ingresa y confirma tu nueva contraseña.</h4>
            {% if messages %}
            <ul class="messagelist text-success">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
            {% endif %}
            <div class="mb-3">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Contraseña nueva:</label></td>
                <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" placeholder="Contraseña nueva">
            </div>
            <div class="mb-3">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Repita la contraseña:</label></td>
                <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2" placeholder="Confirmar contraseña">
            </div>
            <div class="d-flex justify-content-center">
                <button id="CPbutton" type="submit" class="button">Cambiar contraseña</button>
            </div>
        </form>
    {% else %}
        <h1 id="CPerrortitle">Error al restablecer la contraseña</h1>
        <p id="CPerrorcontent">El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
        <br>
        <div class="text-center">
            <a id="CPerrorbutton" class="button" href="{% url 'password_reset_form' %}">Reintentar</a>
        </div>
    {% endif %}

{% endblock %}