{% autoescape off %}

Hola {{user.first_name}}

Recientemente hemos recibido una solicitud de restablecimiento de contraseña

Para iniciar el proceso de restablecimiento de contraseña en su cuenta {{ user.email }},

haga clic en el enlace a continuación:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


Si el enlace anterior no funciona, copie y pegue la URL en la ventana de su navegador.
En caso de cualquier problema contacte con el administrador.

Gracias,
Equipo de desarrollo y administración del areá informatica.
{% endautoescape %}