{% extends 'registration/base.html' %}
{% load manifest %}
{% load static %}
{% block content %}
<h3 class="mb-2 text-blue text-center">Recuperar Contraseña</h3>
<h5 id="subt">Para recuperar su contraseña por favor ingrese el correo electrónico con el que se registró, luego se le enviará un correo electrónico con un enlace para que pueda cambiar su contraseña</h5>
<form action="" method="post">{% csrf_token %}
  <label for="email" class="form-label">Email:</label>
  <div id="div-user-input" class="form-input">
    <span id="Iuser-login" class="icon"><i class="fa-solid fa-envelope"></i></span>
    <input name="email" class="form-control" placeholder="autonoma@correo.com" type="email" id="user-login" required="true">
  </div>
  <br>
  <div id="password-request-buttons" class="d-flex justify-content-center">
    <a class="button" id="password-cancel-button" href="{% url 'login' %}">Cancelar</a></p>
    <button type="submit" class="d-flex justify-content-center button" id="password-recovery-button">Recuperar</button>
  </div>
</form>
{% endblock %}